<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
</head>
<body>
<main role="main" class="container mt-4" layout:fragment="content-body">
    <h2>Авторы</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Список книг</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${authors}">
            <th scope="row" th:text="${author.idAuthor}">1</th>
            <th th:text="${author.firstName}">Джон</th>
            <th th:text="${author.lastName}">Джонсон</th>
            <th>
                <a class="stretched-link" th:href="@{/books/author(idAuthor=${author.idAuthor})}" href="book.html">...</a>
            </th>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>