<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
</head>
<body>
<main role="main" class="container mt-4" layout:fragment="content-body">
    <div id="vue-app-authors">
        <h2>Авторы</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Список книг</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(author, index) in authors" :key="index">
                <th scope="row">{{author.idAuthor}}</th>
                <th>{{author.firstName}}</th>
                <th>{{author.lastName}}</th>
                <th>
                    <button class="btn btn-default" v-on:click="viewBooks(author.idAuthor)">...</button>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<th:block layout:fragment="script">
    <script>
        var vue = new Vue({
            el: '#vue-app-authors',
            data: function () {
                return {
                    authors: []
                }
            },
            methods: {
                loadAuthors: function () {
                    var self = this
                    $.get('api/authors/')
                        .then(function (response) {
                            self.authors = response
                        })
                        .catch(function (error) {
                            console.error(error)
                        })
                },

                viewBooks: function (idAuthor) {
                    window.location.replace('/books/author/' + idAuthor)
                }
            },
            mounted: function () {
                this.loadAuthors();
            }
        })
    </script>
</th:block>

</body>
</html>