<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
</head>
<body>

<main role="main" class="container mt-4" layout:fragment="content-body">
    <div id="js-count-book">
        <div v-if="isLoading">
            <p class="text-center">Загрузка</p>
        </div>
        <p class="text-center" v-else>
            Книг в библиотеки: <span class="font-weight-bold">{{ count }}</span>
        </p>
    </div>
</main>

<th:block layout:fragment="script">
    <script>
        var vue = new Vue({
            el: '#js-count-book',
            data: function () {
                return {
                    count: 0,
                    isLoading: true
                }
            },
            methods: {
                loadCountBooks: function () {
                    var self = this
                    $.get('api/books')
                        .then(function (response) {
                            self.count = response
                            self.isLoading = false
                        })
                        .catch(function (error) {
                            console.error(error)
                        })
                }
            },
            mounted: function () {
                this.loadCountBooks();
            }
        })
    </script>
</th:block>
</body>
</html>